/* global colors */
:root {
  --ut-blue: #1895cf;
  --folly: #ff4754ff;
  --polynesian-blue: #00427f;
  --screamin-green: #19a741;
  --ut-purple: #bb00ff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* chat container */
.chat-box {
  border: 2px solid var(--polynesian-blue);
  border-radius: 0.2rem;
  width: 250px;
  display: flex;
  flex-direction: column;
}

/* chat header */
.header {
  background-color: var(--polynesian-blue);
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  font-size: small;
}

/* chat body */
.chat-box-body {
  font-size: 1rem;
  padding: 10px;
  height: 250px;
  overflow-y: auto;
}

/* chat footer */
.footer {
  display: flex;
  padding: 10px;
}

.footer input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #0f4c5c;
  border-radius: 0.2rem;
}

.footer button {
  margin-left: 0.5rem;
  padding: 5px 10px;
  color: white;
  background-color: var(--polynesian-blue);
  border: 1px solid var(--polynesian-blue);
  border-radius: 0.2rem;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.footer button:active {
  color: var(--polynesian-blue);
  background-color: white;
}

/* Chats  */
.response .message .loading {
  margin-bottom: 0.3rem;
}

.response > p {
  font-size: smaller;
  width: 10rem;
  margin-right: 2rem;
  color: white;
  background-color: var(--screamin-green);
  border-radius: 1rem 1rem 1rem 0;
  padding: 0.3rem 1rem;
}

.message > p {
  font-size: smaller;
  width: 10rem;
  margin-left: 2rem;
  color: white;
  background-color: var(--ut-blue);
  border-radius: 1rem 1rem 0 1rem;
  padding: 0.3rem 1rem;
}

.error {
  width: 100%;
  display: flex;
  justify-content: center;
}

.error > p {
  font-size: small;
  width: fit-content;
  text-align: center;
  margin: 0.3rem;
  color: white;
  background-color: var(--folly);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.loading > p {
  font-size: small;
  width: fit-content;
  text-align: center;
  margin: 0.3rem;
  color: white;
  background-color: var(--ut-purple);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
